# Jake Staehle's Standard Flake8 Config
# VERSION 1
[flake8]
# E203 whitespace-before (for Black)
# E501 ignore line length (use pylint)
# W504 line break after binary operator (for Black)
extend-ignore = E203,E501,W504
exclude = .git,__pycache__,.config,venv,.venv,.autovenv
