name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish:
    name: Publish GitHub Release
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            dist/windows/tise-windows-x86_64.exe
            dist/linux-gnu/tise-linux-x86_64
          fail_on_unmatched_files: true
